@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

$white: #ffffff;
$light-gray: #f4f4f4; 
$gray: #ccc;
$dark-gray: #0000008c;
$blue: #2768c9;
$light-blue: #5c9af7;
$red: #f44336;
$light-red: #f96060;

*{
  margin: 0px;
  padding: 0px
}

body{
  font-family: "Montserrat", serif;
  display: flex;
  justify-content: center;
  align-items: center;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0.5rem;
  align-items: center;
  height: 100vh;
  width: 80vw;

  section{
    width: 100%;
    padding: 0rem 3rem;

    & .actions{
      //background-color: $light-gray ;
      display: grid;
      grid-template-columns: 1fr repeat(5, 1fr); /* Colonna orari + 5 giorni */
      gap: 1px;

      button{
        background-color: $white;
        border: none;
        cursor: pointer;
        border: 1px solid $blue;
        color: $blue;
        padding: 1.5rem;
        transition: background-color 1s;

        &:hover{
          background-color: $light-blue;
          color: $white;

        }
      }
    }
  }

  .mobile-calendar{
    display: none;
  }

  .desktop-calendar {
    display: grid;
    grid-template-columns: 1fr repeat(5, 1fr); /* Colonna orari + 5 giorni */
    gap: 1px; /* Spazio tra le celle */
    background-color: $gray; /* Colore dei bordi */

    .header, .time, .time-cell {
      text-align: center;
      background-color: $white; /* Colore di sfondo delle celle */
    }

    .header {
      font-weight: bold;
      background-color: $blue;
      color: $white;
      padding: 1.5rem;
    }
    
    .time {
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: $blue;
      font-weight: bold;
      color: $white;
      padding: 1.5rem;
    }

    & .time-cell{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      background-color: $light-gray;

      &:hover{
        cursor: pointer;
        background-color: #cdffdb;
      }

      &.selected{
        background-color: $blue;
        color: #fff;
      }

      &.occupied{
        background-color: $white;
        color: $blue;
      }

      & .subject{
        font-size: 1rem;
        font-weight: 600;
      }

      & .professor{
        font-size: .8rem;
      }
    }

    & .cell{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

  }

  .form{
    display: flex;
    flex-direction: column;
    gap: 1rem;
  
    &__items{
      display: flex;
      gap: 0.5rem;
      flex-direction: column;
  
      select{
        border: 1px solid $blue;
        padding: 1rem;
        border-radius: 0.5rem;
      }
    }
    
    &__buttons{
      display: flex;
      justify-content: end;
      gap: 0.5rem;

      & button{
          background-color: $light-blue;
          color: #fff;
          border: none;
          padding: 1rem 2rem;
          border-radius: 1rem;
          cursor: pointer;
          font-weight: 600;
  
        &:hover{
          background-color: $blue;
        }

        &.remove{
          background-color: $light-red;
          color: $white;

          &:hover{
            background-color: $red;
          }
        }
    
        &:disabled{
          background-color: $gray;
        }
      }
    }
  
  }
  
  .list{
    &__header{
      display: grid;
      grid-template-columns: 1fr auto;
      align-items: center;
      gap: 1px;
      background-color: $light-blue;
      color: $white;
      padding: 1rem;
      font-weight: 600;

    }
    &__items{

      &__elem{
        display: grid;
        grid-template-columns: 1fr auto;
        align-items: center;
        gap: 1px;
        padding: 1rem;
        color: $dark-gray;

        &:nth-child(even) {
          background-color: $light-gray;          
        }

        &__title{
        }
        &__count{
          min-width: 3rem;
          text-align: center;          
          font-weight: 600;
        }
      }
    }
    // &__title{
    //   background-color: $light-blue;
    //   color: $white;
    //   padding: 1rem;
    // }
    // &__items{
    //     list-style-type: none;
    //     padding: 0.5rem 0rem;

    //     &__elem{
    //       padding: 0.5rem;

    //       &:nth-child(even) {
    //         background-color: $light-gray; /* Colore per le righe pari */
    //       }
    //     }
    // }

  }
}

.modal {
  min-width: 40%;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  border: none;
  background-color: $white;
  box-shadow: 0 0 10px $gray;
  z-index: 1000;
  border-radius: 1rem;

  &::backdrop {
    background-color: $dark-gray;;
  }
  
  & .content{
    display: flex;
    flex-direction: column;
  }

  & .top{
    display: flex;
    justify-content: space-between;
    height: 3rem;

    & p{
      color: red;
      font-size: 0.8rem;
      padding: 0rem;
      padding-right: 2rem;
      font-weight: 600;
    }

    & button{
      width: 30px;
      height: 30px;
      background-color: rgba(0, 0, 0, 0.1);
      border-radius: 0.5rem;
      padding: 0.5rem;
      border: none;
      cursor: pointer;      
    }

  }

}



  /* Responsive Design */
  @media screen and (max-width: 768px){
    main{
      height: unset;
      width: 100vw;

      .section{
        padding: 0rem;
      }

      .desktop-calendar{
        display: none;
      }

      .mobile-calendar{
        display: flex;
        flex-direction: column;

        & .header {
          text-align: center;
          font-weight: bold;
          background-color: $blue;
          color: $white;
          padding: 1.5rem;
        }

        & .time-cell{
          display: flex;
          flex-direction: row;
          background-color: $light-gray;
          border-bottom: 1px solid $white;
          min-height: 5rem;

          & .time{
            display: flex;
            justify-content: center;
            align-items: center;
            min-width: 6rem;
            background-color: $gray;
            color: $white;
            font-weight: 600;
          }

          &.occupied{
            background-color: $white;
            color: $blue;
          }
    
          & .subject{
            font-size: 1rem;
            font-weight: 600;
          }
    
          & .professor{
            font-size: .8rem;
          }

          & .cell{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 100%;
          }

        }

      }

      .modal{
        min-width: 70%;
      }

    }

  }